.home-image-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.home-main-image {
  width: 90%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
